# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=4.5=1_gnu
asttokens=2.0.5=pypi_0
attrs=21.4.0=pypi_0
autopep8=1.6.0=pyhd3eb1b0_0
backcall=0.2.0=pypi_0
beautifulsoup4=4.10.0=pypi_0
blis=0.7.5=pypi_0
bs4=0.0.1=pypi_0
ca-certificates=2021.10.8=ha878542_0
catalogue=2.0.6=pypi_0
certifi=2021.10.8=py39hf3d152e_2
charset-normalizer=2.0.10=pypi_0
click=8.0.4=pypi_0
colorama=0.4.4=pypi_0
colored=1.2.2=pypi_0
commonmark=0.9.1=pypi_0
cymem=2.0.6=pypi_0
decorator=5.1.1=pypi_0
deplacy=2.0.2=pypi_0
dill=0.3.4=pypi_0
emoji=1.6.3=pypi_0
esupar=1.1.5=pypi_0
executing=0.8.3=pypi_0
filelock=3.4.2=pypi_0
ginza=5.1.0=pypi_0
ginza-transformers=0.4.0=pypi_0
huggingface-hub=0.4.0=pypi_0
idna=3.3=pypi_0
iniconfig=1.1.1=pypi_0
ipython=8.3.0=pypi_0
ja-ginza-electra=5.1.0=pypi_0
jedi=0.18.1=pypi_0
jinja2=3.0.3=pypi_0
joblib=1.1.0=pypi_0
langcodes=3.3.0=pypi_0
ld_impl_linux-64=2.35.1=h7274673_9
libffi=3.3=he6710b0_2
libgcc-ng=9.3.0=h5101ec6_17
libgomp=9.3.0=h5101ec6_17
libstdcxx-ng=9.3.0=hd4cf53a_17
logzero=1.7.0=pypi_0
lxml=4.8.0=pypi_0
markupsafe=2.0.1=pypi_0
matplotlib-inline=0.1.3=pypi_0
murmurhash=1.0.6=pypi_0
ncurses=6.3=h7f8727e_2
nltk=3.7=pypi_0
numpy=1.22.1=pypi_0
openssl=1.1.1o=h7f8727e_0
packaging=21.3=pypi_0
parallel=20220222=ha770c72_0
parso=0.8.3=pypi_0
pathy=0.6.1=pypi_0
perl=5.32.1=0_h7f98852_perl5
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pip=21.2.4=py39h06a4308_0
plac=1.3.4=pypi_0
pluggy=1.0.0=pypi_0
preshed=3.0.6=pypi_0
progressbar2=3.53.3=pypi_0
prompt-toolkit=3.0.29=pypi_0
protobuf=3.19.4=pypi_0
ptyprocess=0.7.0=pypi_0
pure-eval=0.2.2=pypi_0
py=1.11.0=pypi_0
pycodestyle=2.8.0=pyhd3eb1b0_0
pydantic=1.8.2=pypi_0
pygments=2.11.2=pypi_0
pyparsing=3.0.7=pypi_0
pytest=7.0.1=pypi_0
python=3.9.7=h12debd9_1
python-utils=3.1.0=pypi_0
python_abi=3.9=2_cp39
pyyaml=6.0=pypi_0
readline=8.1.2=h7f8727e_1
regex=2022.1.18=pypi_0
requests=2.27.1=pypi_0
rich=11.2.0=pypi_0
robber=1.0.1=pypi_0
sacremoses=0.0.47=pypi_0
scikit-learn=1.0.2=pypi_0
scipy=1.8.0=pypi_0
setuptools=58.0.4=py39h06a4308_0
six=1.16.0=pypi_0
sklearn=0.0=pypi_0
smart-open=5.2.1=pypi_0
soupsieve=2.3.1=pypi_0
spacy=3.2.1=pypi_0
spacy-alignments=0.8.4=pypi_0
spacy-legacy=3.0.8=pypi_0
spacy-loggers=1.0.1=pypi_0
spacy-transformers=1.1.4=pypi_0
sqlite=3.37.0=hc218d9a_0
srsly=2.4.2=pypi_0
stack-data=0.2.0=pypi_0
stanza=1.3.0=pypi_0
sudachidict-core=20211220=pypi_0
sudachipy=0.6.2=pypi_0
sudachitra=0.1.7=pypi_0
supar=1.1.4=pypi_0
thinc=8.0.13=pypi_0
threadpoolctl=3.1.0=pypi_0
tk=8.6.11=h1ccaba5_0
tokenizers=0.10.3=pypi_0
toml=0.10.2=pyhd3eb1b0_0
tomli=2.0.1=pypi_0
torch=1.10.1=pypi_0
tqdm=4.62.3=pypi_0
traitlets=5.2.0=pypi_0
transformers=4.15.0=pypi_0
typer=0.4.0=pypi_0
typing-extensions=4.0.1=pypi_0
tzdata=2021e=hda174b7_0
urllib3=1.26.8=pypi_0
wasabi=0.9.0=pypi_0
wcwidth=0.2.5=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
xz=5.2.5=h7b6447c_0
zlib=1.2.11=h7f8727e_4
